.forecastCardContainer{
    display: flex;
    flex-direction: column;

    width: 35%;
    min-width: 350px;
    min-height: 200px;
    height: 30%;
    color: whitesmoke;

    padding: 16px;
    margin: auto;

    border-radius: 10px;
    transition: ease 0.1s, transform ease 0.3s;
    position: relative;
    z-index: 1;

    background: rgba(15, 23, 42, 0.92);
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.forecastCardContainer:hover
{
    transform: translateY(-5px);
}

.fiveDayForecast{
    display: flex;
    justify-content: center;
}